spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

logging:
  level:
    com.vision: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.hibernate.SQL: WARN
